@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --gray50: #fff;
    --gray100: #f5f5f5;
    --gray200: #d1d1d1;
    --gray400: #8a8a8a;
    --gray500: #666666;
    --gray600: #525252;
    --gray700: #3d3d3d;
    --gray900: #141414;
    --gray950: #0A0A0A;
    
    --purple50: #eeedfc;
    --purple100: #DDDBFA;
    --purple200: #b7b3f4;
    --purple300: #958fef;
    --purple500: #4f46e5;
    --purple800: #130E67;

    --warning: #f4a316;
    --success: #1dc31d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.App {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body {
    background: var(--gray100);
}

.container {
    width: 1566px;
    margin: auto;
}
section {
    margin: 60px auto;
}

.logo-holder {
    display: inline-block;
    background: var(--purple500);
    padding: 13px 15px;
    border-radius: 15px;
}

.btn-primary {
    background: var(--purple500);
    border: none;
    border-radius: 8px;
    padding: 17px 25px;
    color: var(--gray50);
    font-size: 20px;
}
.btn-secondary {
    background: none;
    border: solid 2px var(--purple300);
    border-radius: 8px;
    padding: 15px 23px;
    color: var(--purple500);
    font-size: 20px;
}