.course-page-holder {
    width: 903px;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 260px;
}
.course-page-title {
    font-size: 40px;
    color: var(--gray900);
}
.course-page-img {
    width: 100%;
    height: 474px;
}
.meta-holder {
    display: flex;
    gap: 12px;
}
.meta-holder, .meta-holder ul {
    display: flex;
}
.meta-holder span {
    font-weight: 500;
    color: var(--gray600);
}
.course-page-holder .category-item {
    width: fit-content;
}

.course-description-title {
    font-weight: 600;
    font-size: 20px;
    color: var(--gray400);
}


.schedule-sidebar {
    width: 530px;
    margin-top: 60px;
    margin-bottom: 300px;
}
.step-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}
.step-header.inactive .step-icon * {
    stroke: var(--gray400) !important;
}
.step-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 24px;
    color: var(--purple800);
}
.step-header.inactive .step-title {
    color: var(--gray400);
}
.step-header.inactive .open-schedule, .step-header.shrinked .open-schedule {
    transform: rotateX(180deg);
}
.open-schedule * {
    fill: var(--purple800) !important;
}
.step-header.inactive .open-schedule * {
    fill: var(--gray400) !important;
}
.schedule-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-bottom: 32px;
}
.week-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.schedule-btn {
    border: 1px solid var(--gray200) !important;
    height: 91px;
    color: var(--gray800) !important;
}
.locked {
    background: var(--gray100) !important;
    pointer-events: none;
}
.locked * {
    color: var(--gray200) !important;
    fill: var(--gray200) !important;
}
.schedule-btn.active *{
    color: var(--purple500) !important;
    fill: var(--purple500) !important;
}
.schedule-title {
    font-weight: 600;
    font-size: 16px;
    width: 100%;
}

.schedule-time button {
    height: auto;
    padding: 15px;
}
.schedule-text {
    color: var(--gray500);
}
.time-title {
    font-size: 14px;
}
.time-text {
    font-size: 10px;
}

.schedule-type button {
    flex-direction: column;
    height: auto;
    padding: 15px 20px;
    width: 100%;
}

.schedule-location {
    font-weight: 400 !important;
    font-size: 12px;
    display: flex;
    gap: 4px;
    margin: 6px;
}
.price-modifier {
    color: var(--purple400);
}
.available-seats {
    font-size: 12px;
    color: var(--gray700);
    width: 100%;
    text-align: center;
}
.warning {
    color: var(--warning);
}


.summary {
    background: var(--gray50);
    border: 1px solid var(--gray100);
    border-radius: 12px;
    padding: 40px;
    width: 100%;
}
.price-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-top: 12px;
}
.price-holder.header {
    margin-bottom: 32px;
}   
.price-title {
    color: var(--gray400);
}
.price {
    color: var(--gray800);
}
.price-holder.header .price-title {
    font-weight: 600;
    font-size: 20px;
}
.price-holder.header .price {
    font-size: 32px;
    font-weight: 600;
}
.summary button {
    width: 100%;
    margin-top: 32px;
}

.warning-container {
    margin-top: 11px;
    background: #F8FAFC;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.warning-text {
    width: 351px;
}
.warning-header {
    font-size: 16px;
    color: var(--gray800);
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 9px;
}
.warning-subtitle {
    font-size: 12px;
    color: var(--gray400);
}
.warning-btn {
    background: var(--purple50);
    border: 1px solid var(--purple200);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    gap: 6px;
    align-items: center;
    color: var(--purple600);
    font-size: 14px;
    font-weight: 400;
}

.enrolled-schedule {
    width: 473px;
}
.enrolled-schedule * {
    font-size: 20px !important;
    font-weight: 600;
}

.enrolled-btn {
    color: var(--purple400);
    padding: 16px;
    border: none;
    border-radius: 100px;
    background: #736BEA1A;
    margin-bottom: 22px;
}
.enrolled-btn.completed {
    background: #1DC31D1A;
    color: var(--success);
}

.enrolled-schedule li span {
    font-weight: 500;
    color: var(--gray600);
    padding: 11px;
}
.schedule-icon {
    width: 19px;
    height: 19px;
}

.schedule-progress {
    margin: 40px 0;
    color: var(--gray500);
}
.schedule-progress .progress-bar{
    width: 100%;
    height: 23px;
}
.enrolled-schedule .btn-primary {
    width: 100%;
    font-weight: 500;
}
.complete-icon {
    margin-left: 10px;
    width: 20px;
    height: 15px;
}
.complete-icon * {
    fill: var(--gray50)
}