.header-box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 32px;
}
.courses-title {
    font-weight: 600;
    font-size: 40px;
    color: var(--gray950);
    padding-bottom: 6px;
}
.courses-subtitle {
    font-size: 18px;
    color: var(--gray700);
}
.courses-more-link {
    font-size: 20px;
}

.card-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    position: relative;
}
.course-card {
    background: var(--gray50);
    border-radius: 12px;
    padding: 20px;
}
.course-card.current {
    border: solid 0.5px transparent;
    box-shadow: 0px 0px 11.7px 0px rgba(0, 0, 0, 0.04);
}
.course-card.featured {
    border: solid 1px var(--gray100);
    display: grid;
    grid-template-rows: 1fr auto;
}
.course-card:hover {
    border-color: var(--purple200);
    box-shadow: 0px 0px 25px 0px rgba(138, 130, 212, 0.1);
}
.course-card:active {
    border-color: var(--purple300);
    box-shadow: 0px 0px 35px 0px rgba(138, 130, 212, 0.25);
}
.course-main {
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
}
.course-main.featured {
    flex-direction: column;
}
.course-main > img {
    border-radius: 12px;
}
.feature-img {
    width: 466px;
    height: 262px;
}
.current-img {
    max-width: 140px;
    height: 123px;
}
.catalogue-img {
    width: 333px;
    height: 181px;
}
.course-info {
    width: 100%;
}

.course-meta {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: var(--gray900);
}
.course-lecturer {
    color: var(--gray400);
}
.instructor {
    color: var(--gray500);
}
.course-settings {
    color: var(--gray300);
}
.course-rating {
    color: var(--gray600);
    display: flex;
    gap: 4px;
    align-items: center;
}
.course-title {
    font-weight: 600;
    font-size: 24px;
}
.current-title {
    font-size: 20px;
    margin-top: 9px;
}
.course-description {
    max-width: 400px;
}

.course-category-item {
    background: var(--gray100) !important;
    max-width: fit-content;
}


.course-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: var(--gray900);
}
.course-cost {
    display: flex;
    align-items: center;
    gap: 8px;
}
.catalogue-cost {
    flex-direction: column;
    gap: 0;
}
.course-cost span {
    font-size: 12px;
    color: var(--gray400);
}
.course-cost .cost {
    font-weight: 600;
    font-size: 32px;
    color: var(--gray900);
}

.progress-bar {
    margin: 10px 0;
    width: 336px;
    height: 15px;
    border-radius: 30px;
    background: var(--purple100);
}
.progress-fill {
    height: stretch;
    border-radius: 30px;
    background: var(--purple500);
}
.course-footer button {
    font-size: 16px;
    padding: 12px 25px;
}

.current-blur {
    position: absolute;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    top: -30px;
    left: -30px;
    backdrop-filter: blur(10px);
    background: #f5f5f530;
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-pop-up {
    width: 418px;
    border: 1px solid rgba(173, 173, 173, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.lock {
    padding: 20px;
    height: 77px;
}
.current-pop-up button {
    margin: 12px 0 0;
}


.catalogue-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.filter-wrapper {
    position: relative;
}
.sort-by {
    padding: 12px 45px 12px 85px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: var(--purple500);
}
.sort-by, .sort-dropdown {
    border-radius: 10px;
    border: 1px solid var(--gray100);
    background: var(--gray50);
}
.sort-label {
    position: absolute;
    pointer-events: none;
    padding: 12px 20px;
}
.filter-wrapper .select-icon {
    right: 20px;
    stroke: var(--gray500) !important;
}

.sort-dropdown {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 10;
    width: 100%;
}
.sort-option {
    padding: 10px 20px;
    color: var(--gray500);
}
.sort-option:hover {
    background: var(--purple100);
    color: var(--purple500);
}

.catalogue-pagination {
    margin: 32px;
    display: flex;
    justify-content: center;
    gap: 8px;
}
.page-btn {
    background: var(--gray50);
    border: 1px solid var(--gray200);
    border-radius: 4px;
    width: 40px;
    height: 40px;
    color: var(--purple500);
    font-size: 16px;
}
.page-btn:hover, .page-btn.active {
    background: var(--purple600);
    border-color: var(--purple500);
    color: var(--gray50);
}
.page-btn.deactive {
    color: var(--gray200);
}