.header-box {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 32px;
}
.courses-title {
    font-weight: 600;
    font-size: 40px;
    color: var(--gray950);
    padding-bottom: 6px;
}
.courses-subtitle {
    font-size: 18px;
    color: var(--gray700);
}
.courses-more-link {
    font-size: 20px;
}

.card-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}
.course-card {
    background: var(--gray50);
    border-radius: 12px;
    padding: 20px;
}
.course-card.current {
    border: solid 0.5px transparent;
    box-shadow: 0px 0px 11.7px 0px rgba(0, 0, 0, 0.04);
}
.course-card.featured {
    border: solid 1px var(--gray100);
    display: grid;
    grid-template-rows: 1fr auto;
}
.course-card:hover {
    border-color: var(--purple200);
    box-shadow: 0px 0px 25px 0px rgba(138, 130, 212, 0.1);
}
.course-card:active {
    border-color: var(--purple300);
    box-shadow: 0px 0px 35px 0px rgba(138, 130, 212, 0.25);
}
.course-main {
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
}
.course-main.featured {
    flex-direction: column;
}
.course-main img {
    border-radius: 12px;
    object-fit: cover;
}
.course-img {
    width: 466px;
    height: 262px;
}
.current-img {
    max-width: 140px;
    height: 123px;
}
.course-meta {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: var(--gray900);
}
.course-lecturer {
    color: var(--gray400);
}
.course-rating {
    color: var(--gray600);
    display: flex;
    gap: 4px;
    align-items: center;
}
.course-title {
    font-weight: 600;
    font-size: 24px;
}
.current-title {
    font-size: 20px;
    margin-top: 9px;
}
.course-description {
    font-size: 16px;
    color: var(--gray500);
    max-width: 400px;
    line-height: 24px;
}

.course-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.course-cost {
    display: flex;
    align-items: center;
    gap: 8px;
}
.course-cost span {
    font-size: 12px;
    color: var(--gray400);
}
.course-cost .cost {
    font-weight: 600;
    font-size: 32px;
    color: var(--gray900);
}

.progress-bar {
    margin: 10px 0;
    width: 336px;
    height: 15px;
    border-radius: 30px;
    background: var(--purple100);
}
.progress-fill {
    height: stretch;
    border-radius: 30px;
    background: var(--purple500);
}
.course-footer .btn-secondary {
    padding: 10px 20px;
}