
.header-navbar {
    border-bottom: 1px solid var(--gray200);
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.logo-holder {
    display: inline-block;
    background: var(--purple500);
    padding: 15px;
    border-radius: 15px;
}
nav{
    display: flex;
    gap: 36px;
    align-items: center;
}
ul {
    display: flex;
    gap: 8px;
}
.nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--gray600);
    font-size: 20px;
    padding: 15px;
}
.avatar {
    height: 56px;
    position: relative;
    background: var(--purple50);
    padding: 9px;
    width: 56px;
    border-radius: 50%;
}

.avatar .status {
  position: absolute;
  bottom: 1px;
  right: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--warning);
  border: 2px solid var(--gray50);
}

.avatar .status.active {
  background: var(--success);
}
