
.header-navbar {
    border-bottom: 1px solid var(--gray200);
    display: flex;
    justify-content: center;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header-nav{
    display: flex;
    gap: 36px;
    align-items: center;
}
.header-ul {
    display: flex;
    gap: 8px;
}
.header-ul li {
    padding: 15px;
    list-style-type: none;
}
.nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--gray600);
    font-size: 20px;
    text-decoration: none;

}
.nav-item svg * {
    stroke: currentColor !important;
    transition: fill 0.2s ease;
}
.nav-item span {
    transition: color 0.2s ease;
}
.nav-item:hover {
    color: var(--purple500);
}

