.modal-backdrop {
    position: fixed;
    inset: 0;
    background: #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.modal {
    background: var(--gray50);
    border-radius: 12px;
    width: 460px;
    padding: 50px;
    position: relative;
}
.close-btn, .back-btn {
    position: absolute;
    top: 30px;
    background: none;
    border: none;
}
.close-btn { right: 20px; }
.back-btn { left: 20px; }

.modal-header {
    text-align: center;
}
.modal-title {
    font-weight: 600;
    font-size: 32px;
    color: var(--gray900);
}
.modal .subtitle {
    color: var(--gray500);
}

.modal .pagination {
    margin: 24px 0;
    width: 100%;
}
.modal .pagination span { background: var(--purple50); }
.modal .pagination .current { background: var(--purple200); }
.modal .pagination .complete { background: var(--purple500); }

label {
    font-size: 14px;
    color: var(--gray700);
    margin: 24px 0 5px;
    display: block;
}
input, .upload-input {
    width: 100%;
    border-radius: 8px;
    border: 1.5px solid var(--gray200);
    padding: 12px 15px;
}
.input-wrapper {
    position: relative;
}
.password-icon {
    position: absolute;
    right: 10px;
    top: calc(50% - 8px);
}


.upload-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.upload-input {
    text-align: center;
    cursor: pointer;
    padding: 30px 0;
}
.upload-input:hover {
    border-color: var(--purple100);
    background: var(--purple50);
}
.upload-input input {
    display: none;
}

.drag-text {
    font-size: 14px;
    color: var(--gray500);
}

.upload-link {
    font-size: 14px;
    color: var(--purple600);
    text-decoration: underline;
}

.file-types {
    font-size: 12px;
    color: var(--gray300);
    margin-top: 6px;
}



.modal .btn-primary {
    margin-top: 16px;
    width: 100%;
    padding: 10px;
}
.modal-line {
    background: var(--gray200);
    margin: 20px auto;
    width: 320px;
    height: 0.52px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-line span {
    background-color: var(--gray50);
    padding: 10px;
    font-size: 14px;
    color: var(--gray400);
}
.modal-footer {
    text-align: center;
    padding: 8px;
}
.modal-footer span {
    font-size: 12px;
    color: var(--gray500);
}
.modal-footer a {
    font-size: 14px;
    color: var(--gray900);
    text-decoration: underline;
}