.modal-backdrop {
    position: fixed;
    inset: 0;
    background: #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.modal {
    background: var(--gray50);
    border-radius: 12px;
    width: 460px;
    padding: 50px;
    position: relative;
}
.close-btn {
    position: absolute;
    right: 20px;
    top: 30px;
    background: none;
    border: none;
}
.modal-header {
    text-align: center;
}
.modal-title {
    font-weight: 600;
    font-size: 32px;
    color: var(--gray900);
}
.modal .subtitle {
    color: var(--gray500);
}
label {
    font-size: 14px;
    color: var(--gray700);
    margin: 24px 0 5px;
    display: block;
}
input {
    width: 100%;
    border-radius: 8px;
    border: 1.5px solid var(--gray200);
    padding: 12px 15px;
}
.input-wrapper {
    position: relative;
}
.password-icon {
    position: absolute;
    right: 10px;
    top: calc(50% - 8px);
}


.modal .btn-primary {
    margin-top: 16px;
    width: 100%;
}
.modal-line {
    background: var(--gray200);
    margin: 20px auto;
    width: 320px;
    height: 0.52px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-line span {
    background-color: var(--gray50);
    padding: 10px;
    font-size: 14px;
    color: var(--gray400);
}
.modal-footer {
    text-align: center;
    padding: 8px;
}
.modal-footer span {
    font-size: 12px;
    color: var(--gray500);
}
.modal-footer a {
    font-size: 14px;
    color: var(--gray900);
    text-decoration: underline;
}